In [24]:
# Get working directory
import os
import pandas as pd
import numpy as np

from sqlalchemy import create_engine

In [3]:
os.getcwd()

'/Users/marco.pasin/Documents'

### Data collection

In [5]:
def get_query_for_ads_params(site_name, num_days):
    query = (
        "SELECT params, category_id, created_at\n"
        "FROM db_atlas_verticals.ads\n"
        "WHERE livesync_dbname = '{site_name}' AND category_id = 661\n"
        "AND net_ad_counted = 1\n"
        "AND status = 'active'\n"
        "AND DATEDIFF(DAY, last_update_date, GETDATE()) < {num_days}\n;"
    )
    return query.format(site_name=site_name, num_days=num_days)

In [7]:
get_query_for_ads_params('carspt', 30)

"SELECT params, category_id, created_at\nFROM db_atlas_verticals.ads\nWHERE livesync_dbname = 'carspt' AND category_id = 661\nAND net_ad_counted = 1\nAND status = 'active'\nAND DATEDIFF(DAY, last_update_date, GETDATE()) < 30\n;"

In [14]:
import pandas as pd

from sqlalchemy import create_engine

def collect_ads_params_data(user, password, host, port, dbname, site_name):
    engine = create_engine('postgresql://{user}:{password}@{host}:{port}/{dbname}'.format(
        user=user,
        password=password,
        host=host,
        port=port,
        dbname=dbname
    ))
    query = get_query_for_ads_params(site_name='carspt', num_days=30)
    return pd.read_sql_query(query, engine)

In [15]:
ads_pt = collect_ads_params_data(
    user='marco_pasin', password='Welcome_y2m!', host='10.101.5.237', port=5671, dbname='main', site_name='carspt'
)

In [16]:
ads_pt.head()

,params,category_id,created_at
0,price<=>price<br>price<=>17<br>price[currency]...,661,2018-08-16 10:22:57
1,price<=>price<br>price<=>16<br>price[currency]...,661,2018-08-16 10:22:57
2,price<=>price<br>price<=>15<br>price[currency]...,661,2018-08-16 10:22:57
3,price<=>price<br>price<=>15<br>price[currency]...,661,2018-08-16 10:22:57
4,price<=>price<br>price<=>25<br>price[currency]...,661,2018-08-16 10:22:57

In [18]:
ads_pt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 302310 entries, 0 to 302309
Data columns (total 3 columns):
params         302310 non-null object
category_id    302310 non-null int64
created_at     302310 non-null datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 6.9+ MB

In [21]:
ads_pt.shape

(302310, 3)

### Extract parameters

In [28]:
from toolz.curried import *

def extract_ads_params(s):
    return pipe(
        s,
        lambda x: x.split("<br>"),
        map(lambda x: x.split("<=>")),
        map(lambda x: [x[0],x[1].split("<->")]),
        dict,
    )

def process_ads_params(df):
    return pipe(
        df,
        lambda x: x.apply(extract_ads_params).values.tolist(),
        lambda x: pd.DataFrame(x),
        lambda x: x.replace('', np.nan),
        #lambda x: x.astype(dtypes),
        #lambda x: x.dropna()
    )

In [29]:
ads_pt_clean = process_ads_params(ads_pt['params'])

In [30]:
ads_pt_clean.head()

,accept_funding,accepts_exchange,authorized_dealer,category,fixed_value,for_parts,maker,price,price[currency],price[gross_net],reference,sub_category,tax_deductible,title,under_budget,vehicle_type,video
0,NaN,NaN,[0],[lighting],[1],NaN,NaN,[17],[EUR],[gross],NaN,[pistons],[1],[Pisca / farois / farolins laterais Audi 80 fu...,NaN,NaN,NaN
1,NaN,NaN,[0],[lighting],[1],NaN,NaN,[16],[EUR],[gross],NaN,[pistons],[1],[Pisca / farois / farolins laterais seat Alham...,NaN,NaN,NaN
2,NaN,NaN,[0],[lighting],[1],NaN,NaN,[15],[EUR],[gross],NaN,[pistons],[1],[Pisca / farois / farolins laterais opel Opel ...,NaN,NaN,NaN
3,NaN,NaN,[0],[lighting],[1],NaN,NaN,[15],[EUR],[gross],NaN,[pistons],[1],[Pisca / farois / farolins laterais Peugeot Pa...,NaN,NaN,NaN
4,NaN,NaN,[0],[lighting],[1],NaN,NaN,[25],[EUR],[gross],NaN,NaN,[1],[Pisca frontal bmw e46 4p 98-01 fundo cristal ...,NaN,NaN,NaN

In [27]:
ads_pt_clean.columns

Index(['accept_funding', 'accepts_exchange', 'authorized_dealer', 'category',
       'fixed_value', 'for_parts', 'maker', 'price', 'price[currency]',
       'price[gross_net]', 'reference', 'sub_category', 'tax_deductible',
       'title', 'under_budget', 'vehicle_type', 'video'],
      dtype='object')